* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;

  /* keeps footer on the bottom when we put flex auto on main */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: auto;
}

nav {
  display: flex;

  gap: 20px;
  justify-content: center;
  border-bottom: 1px solid black;
  padding: 10px;
  background: lightgray;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0px;
}

img {
  width: 200px;
  border-radius: 100px;
}

#welcome {
  text-align: center;
}

.card {
  padding: 16px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.container {
  display: flex;
  justify-content: center;
}

.status::after {
  content: "ACTIVE";
  color: green;
}

@media (max-width: 700px) {
  nav {
    flex-direction: column;
    gap: 2px;
  }
  .container {
    flex-direction: column;
  }
  .card {
    padding: 8px;
    margin: 8px;
  }
  img {
    display: none;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
}

a {
  padding: 4px;
  color: black;
  text-decoration: none;
  border-radius: 4px;
}

a:hover {
  color: white;
  background-color: darkgray;
}

.profile:hover {
  scale: 105%;
  box-shadow: 0px 0px 10px grey;
}

footer {
  border-top: 1px solid black;
  text-align: center;
  background: gray;
  color: white;
}
