* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0px;
  padding-bottom: 4px;
}

main {
  padding: 16px;
}

body {
  background-color: gainsboro;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  min-height: 100vh;
  /*position relative so the footer can be placed at the bottom with position absolute */
  position: relative;
  padding-bottom: 50px;
}

nav {
  font-size: 20px;
  display: flex;
  gap: 10px;

  padding: 10px;
  border-bottom: 1px solid black;
}

.card {
  padding: 16px;
  margin: 4px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: floralwhite;

  max-width: fit-content;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.contact {
  margin: auto;
}

footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  border-top: 1px solid black;
}

button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: rgb(157, 157, 255);
  font-weight: bolder;
}

form input,
textarea {
  width: 300px;
  padding: 4px;
  border: 1px solid black;
}
