* { box-sizing: border-box; }

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

nav {
    display: flex;
    gap: 10px;
}

.card{
    padding: 8px;
    margin: 4px;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: floralwhite;
}

.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}